
.carousel-inner {
    height: 100vh;
}

.carousel-item {
    height: 100vh;
    position: relative;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    position: absolute;
    left: 18%   ;
    top: 20%;
    margin-right: 15%;
    z-index: 2;
     text-align: left;
    
}
.cor-cap-head{
    color: rgb(255, 175, 153);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-7xl);
    font-weight: 700;
}
.cor-cap-head2{
    margin-top: -15px;
    color:#ffd19c;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-7xl);
    font-weight: 700;

}
.cor-text{
 font-family: var(--font-family-primary); 
 font-size: var( --font-size-body);
 font-weight: var(--font-weight-regular);
}

.cor-cap-buton{

 padding: 10px;
 padding-left:30px ;
 padding-right:30px ;
 margin-top: 30px;
border-radius:var(--radius-xlg) ;
background-color: transparent;
border-color: var(--color-primary) ;
color: white;
}
.cor-cap-buton:hover{
transition: .4s;
background-color: var(--color-hover);
}
 
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;

    top: 50%;
    transform: translateY(-50%);

    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;

    opacity: 1;

    margin: 0 30px;

    transition: 0.3s;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color:var(--color-hover) 
}
.cor-link{
color: var(--color-white);
font-family: var(--font-family-primary);
margin-left: 20px;

}
.cor-link:hover{
 color: var(--color-hover);   
}

.cor-cap-head,
.cor-cap-head2 {
    font-size: clamp(32px, 5vw, 70px);
}



/* end of design  */




/* animation of slider */
@keyframes textUp {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
 }   



.carousel-item.active .cor-cap-head {
    animation: textUp 0.8s ease forwards;
}

.carousel-item.active .cor-cap-head2 {
    animation: textUp 0.8s ease 0.15s forwards;
}

.carousel-item.active .cor-text {
    animation: textUp 0.8s ease 0.3s forwards;
}

.carousel-item.active .cor-cap-buton {
    animation: textUp 0.8s ease 0.45s forwards;
}
.carousel-item.active .cor-link{
    animation: textUp 0.8s ease 0.6s forwards;
}

.cor-link,
.cor-cap-head,
.cor-cap-head2,
.cor-text,
.cor-cap-buton {
    opacity: 0;
}
/* end of slider */

/* section 1 and 2 slide */
.section1,.section2{
 padding: 10%; 
 font-family: var(--font-family-primary);  
}
.section1 h2 ,.section2 h3{
color: var(--color-text);
font-size:var(--font-size-lg) ;
font-weight: var(--font-weight-medium);

}
.section1 h1
,.section2 h1{
color: var(--color-heading);
margin-bottom: 5%; 
  
}

.section1 .content ,.section2 .section2-content{
display: flex;
gap: 40px;  

 
}
 .content .right-part{
  width: 40%;
    

 }

 .content .right-part p{
  color: var(--color-text);
  font-size: var(--font-size-body);
    

 }
 .content .right-part button ,.section2-content button{
    border-color: var(--color-primary);
    border-radius: var(--radius-xlg);
    padding: 10px;
    font-weight: var(--font-weight-light);
    color:black;
    margin-top: 4%;
  
    

 }
 .content .right-part button:hover{
  transition: .3s;
  cursor: pointer;
  background-color: var(--color-hover);  
 }.section2  button:hover{
  transition: .3s;
  cursor: pointer;
  background-color: var(--color-hover);  
 }

 .content .left-part  {
 width: 50%;
 position: relative; 


 }
 .content .left-part img{

 width: 100%;
 object-fit: cover; 


 }

 .counter-main{
  display: flex;
  gap: 20%;
  background-color: var(--color-primary);  
  width:75% ;
  justify-content: center;
  padding: 5%;
  border-radius: 30px;
  position: absolute;
  bottom: -30%;
  right: -45%;
 }
 
 .counter-main h3 ,.counter-main-2 h3 {
  color: var(--color-heading);
  font-size: var(--font-size-4xl);   
 }
 .counter-main p ,.counter-main-2 p{
  color: var(--color-heading);
  font-size: var(--font-size-xl);   
 }
 .counter-main span ,.counter-main-2 span{
  color: var(--color-heading);
  font-size: var(--font-size-xl);   
 }
.counter{
 text-align: center;   
}
.years{
font-size:40px;    
}



@media (max-width: 768px) {
  
    
    .section2-right , .section2-left {
    width: 100%;
    }

    .section1 ,.section2{
        padding: 10% 5%;
    }

    .section1 .content ,.section2 .section2-content{
        flex-direction: column;
        gap: 60px;
    }

    .content .left-part {
        width: 100%;
    }

    .content .right-part {
        width: 100%;
    }

    .content .left-part img {
        width: 100%;
    }


}



.section2-left{
 width:60%;   
}
.section2-right{
  position: relative;
 height: 50vh; 
}

.section2-right img{

  
 height:100%;
 object-fit: cover;   
}

.counter-main-2{
  display: flex;
  gap: 20%;
  background-color: var(--color-primary);  
  width:75% ;
  justify-content: center;
  padding: 5%;
  border-radius: 30px;
  position: absolute;
  bottom: -10%;
  left: -45%;
 }

.counter{
 text-align: center;   
}

.years{
font-size:40px;    
}
 
@media (max-width: 1300px){
    .counter-main {
     
        display: none;

    } .counter-main-2 {
     
        display: none;

    }


}
/* end of section 1 and 2 */

.offers-section{
    
display: grid ;
   grid-template-columns: repeat(3, 1fr);
    
    justify-content: center;
    gap: 30px;
     padding: 0 50px;
     margin-bottom: 100px;

}

.card{ width: 100%;
padding: 20px;    

border-color: var(--color-primary);
border-radius: var(--radius-xlg); 
height: fit-content;
transition: 0.3s ease;
background-color: var(--color-bg-gray);   

}
.card h1{
 color: black;
 font-size: var(--font-size-5xl);
 font-weight: 900;   

}
.card h2{
 color: var(--color-text);
 font-size: var(--font-size-xl);   

}
.card h3{
 color: var(--color-text);
 font-size: var(--font-size-lg);   

}
.card p{
    margin-top: 50px;
 color: black;
 font-size: var( --font-size-body);   

}

.card ul{
padding: 20px;
margin-top: 50px;
font-size: var(--font-size-md);
color: black;
font-weight: 600;

}
.card ul span{
color: var(--color-primary);
font-weight: 900;    
}
.card button{
    border:none;
border-radius: var(--radius-xlg);
background-color: var(--color-primary);
padding:10px    
}
@media (max-width: 1333px) {
.offers-section{
 grid-template-columns: 1fr; 
   
}
.card{
    height: fit-content;
}
    

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
}
.offers-heading h1{
text-align: center;
margin-top: 10vh;
margin-bottom:10vh ;
font-size: 70px;
font-weight: 900;
color:var(--color-primary);

}